Repository EspressoSystems/jellyfish, changes with the owners that CODEOWNERS names for each.
All owners: @alxiong, @mrain, @philippecamacho, @ggutoski, @akonring

CODEOWNERS:

# Default owners and repository maintainers:
* @alxiong @mrain

# Owner of `jf-utils` crate
/utilities/ @alxiong @mrain

# Owner of `jf-relation` crate
/relation/ @alxiong @mrain

# Owner of `jf-primitives-core` crate
/core/ @alxiong @mrain

# Owner of `jf-merkle-tree` crate
/merkle-tree/ @mrain

# Owner of `jf-pcs` crate
/pcs/ @alxiong

# Owner of `jf-rescue` crate
/rescue/ @philippecamacho

# Owner of `jf-vdf` crate
/vdf/ @mrain

# Owner of `jf-vid` crate
/vid/ @ggutoski @akonring

# Owner of `jf-signature` crate
/signature/ @alxiong @mrain

# Owner of `jf-primitives` crate
/primitives/ @alxiong @mrain

# Owner of `jf-plonk` crate
/plonk/ @alxiong @mrain

finalizing
  merkle_tree/Cargo.toml
  merkle_tree/benches/merkle_path.rs
  merkle_tree/src/hasher.rs
  merkle_tree/src/lib.rs
  merkle_tree/tests/merkle_tree_hasher.rs
  pcs/src/lib.rs
  plonk/Cargo.toml
  plonk/src/circuit/transcript.rs
  plonk/src/errors.rs
  plonk/src/transcript/rescue.rs
  primitives/Cargo.toml
  primitives/src/errors.rs
  primitives/src/gadgets/elgamal.rs
  primitives/src/gadgets/mod.rs
  primitives/src/lib.rs
  primitives/src/utils.rs
  primitives/src/vrf/blsvrf.rs
  rescue/Cargo.toml
  rescue/src/lib.rs
  scripts/check_no_std.sh
  scripts/run_tests.sh
  signature/Cargo.toml
  signature/src/bls_over_bls12381.rs
  signature/src/lib.rs
  utilities/Cargo.toml
  utilities/benches/reed_solomon.rs
  utilities/src/hash_to_group/mod.rs
  utilities/src/hash_to_group/twisted_edwards.rs
  utilities/src/lib.rs
  vdf/Cargo.toml
  vdf/benches/minroot.rs
  vdf/src/lib.rs
  vid/Cargo.toml
  vid/src/lib.rs
  vid/tests/advz.rs
  vid/tests/vid/mod.rs
Owners: @alxiong, @mrain, @philippecamacho, @ggutoski, @akonring

update `tagged-base64` back
  Cargo.toml
Owners: @alxiong, @mrain

fixed all tests
  Cargo.toml
  merkle_tree/Cargo.toml
  merkle_tree/src/append_only.rs
  merkle_tree/src/gadgets/mod.rs
  merkle_tree/src/light_weight.rs
  merkle_tree/src/universal_merkle_tree.rs
  primitives/Cargo.toml
  rescue/src/commitment.rs
  signature/Cargo.toml
  vid/Cargo.toml
  vid/tests/advz.rs
  vid/tests/vid/mod.rs
Owners: @alxiong, @mrain, @philippecamacho, @ggutoski, @akonring

fix doctest
  signature/src/bls_over_bls12381.rs
Owners: @alxiong, @mrain

remove unused deps from jf-primitives
  primitives/Cargo.toml
Owners: @alxiong, @mrain

update scripts & github actions
  .github/workflows/build.yml
  scripts/build_wasm.sh
  scripts/check_no_std.sh
  scripts/test_coverage.sh
Owners: @alxiong, @mrain

chore: fix typos
  primitives/src/aead.rs
  primitives/src/merkle_tree/namespaced_merkle_tree/mod.rs
  primitives/src/vrf/mod.rs
  relation/src/constraint_system.rs
Owners: @alxiong, @mrain

bump version
  Cargo.toml
Owners: @alxiong, @mrain

fix trivial bug
  primitives/src/pcs/univariate_kzg/mod.rs
Owners: @alxiong, @mrain

rename var
  primitives/src/pcs/univariate_kzg/mod.rs
Owners: @alxiong, @mrain

comments
  CHANGELOG.md
  primitives/Cargo.toml
Owners: @alxiong, @mrain

chore: VID-GPU `batch_commit` now takes polynomials of different degrees (#559)
  CHANGELOG.md
  Cargo.toml
  primitives/Cargo.toml
  primitives/src/pcs/univariate_kzg/mod.rs
  primitives/src/vid/advz.rs
  primitives/tests/advz.rs
Owners: @alxiong, @mrain

documents
  CHANGELOG_OLD.md
  core/CHANGELOG.md
  merkle_tree/CHANGELOG.md
  pcs/CHANGELOG.md
  plonk/CHANGELOG.md
  primitives/CHANGELOG.md
  relation/CHANGELOG.md
  rescue/CHANGELOG.md
  signature/CHANGELOG.md
  utilities/CHANGELOG.md
  utilities/src/lib.rs
  vdf/CHAGELOG.md
  vid/CHANGELOG.md
Owners: @alxiong, @mrain, @philippecamacho, @ggutoski, @akonring

scripts & PR template
  .github/pull_request_template.md
  scripts/check_no_std.sh
Owners: @alxiong, @mrain

fix failed test
  vid/tests/advz.rs
Owners: @ggutoski, @akonring

move curve_cofactor
  signature/src/schnorr.rs
  utilities/src/lib.rs
Owners: @alxiong, @mrain
